/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно,
чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также
гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  max-width: 700px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font-family), sans-serif;
  font-variation-settings: "wght" var(--main-font-weight, 400);
  background-image: var(--body-pattern);
  background-size: cover;
}

.page__header {
  margin-block-start: 100px;
  margin-block-end: 100px;
}

.header {
  display: flex;
  flex-direction: column;
  padding-block-start: clamp(7.5rem, 7.214rem + 1.43vw, 8.5rem);
  padding-block-end: 25px;
  align-items: center;
  border: 2px solid var(--acent-color);
  background-color: var(--bg-color);
  max-width: 696px;
}

.header__logo {
  color: var(--acent-color);
  font-family: var(--accent-font-family);
  font-size: clamp(2.813rem, 2.455rem + 1.79vw, 4.063rem);
  font-weight: var(--main-font-weight);
  margin-bottom: 20px;
}

.header__title {
  color: var(--acent-color);
  font-family: var(--accent-font-family);
  font-size: clamp(0.875rem, 0.714rem + 0.8vw, 1.438rem);
  font-weight: var(--main-font-weight);
  margin-bottom: 25px;
  text-transform: uppercase;
}

.theme-menu {
  padding-inline-start: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.theme-menu__item {
  font-family: var(--accent-font-family);
  font-weight: var(--main-font-weight);
}

.theme-menu__button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--acent-color);
  transition: opacity .3s;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 2px;
  background-color: currentColor;
  transition: width .3s;
}

@media (width >= 1024px) {
  .theme-menu__button:hover {
    opacity: .6;
  }
  .theme-menu__button:focus-visible::after {
    width: 100%;
  }
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 0;
  left: -20px;
  animation: left-right .5s ease-in-out infinite alternate;
}

.cardItem:nth-child(2) .card__image {
  filter: saturate(30%);
}

.cardItem:nth-child(3) .card__image {
  filter: saturate(250%);
}

.cardItem:nth-child(4) .card__image {
  filter: hue-rotate(35deg);
}

.cardItem:nth-child(5) .card__image {
  filter: invert(80%);
}

.cardItem:nth-child(6) .card__image {
  filter: sepia(70%);
}

.cardItem:nth-child(7) .card__image {
  filter: blur(10px);
}

.cardItem:nth-child(8) .card__image {
  filter: hue-rotate(105deg) contrast(60%);
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid var(--acent-color);
}

.page__card {
  background-color: var(--bg-color);
  margin-block-end: 50px;
}

.card__title {
  padding: 3px 25px;
  font-size: 18px;
  font-variation-settings: "wght" var(--title-font-weight);
  color: var(--acent-color);
  border-bottom: 2px solid var(--acent-color);
}

.card__image-content {
  position: relative;
}

.card__image-content span {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font-family);
  font-size: clamp(0.75rem, 0.714rem + 0.18vw, 0.875rem);
  opacity: .8;
  color: var(--span-color);
  z-index: 2;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
}

.card__description {
  padding: 25px;
  font-size: 18px;
  font-variation-settings: "wght" var(--main-font-weight);
  color: var(--acent-color);
  border-top: 2px solid var(--acent-color);
}

.card__description p {
  margin-block-end: 27px;
}

.card__description p:last-of-type {
  margin-block-end: 0;
}

.card__controls {
  display: flex;
  justify-content: flex-end;
  padding-inline-end: 25px;
  margin-block-end: 25px;
  gap: 12px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.like-icon {
  fill: var(--acent-color);
  cursor: pointer;
  transition: opacity .3s;
}

.button {
  position: relative;
  width: 130px;
  height: 38px;
  background-color: transparent;
  border: 2px solid var(--acent-color);
  cursor: pointer;
  transition: opacity .3s;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--acent-color);
  width: 128px;
  height: 34px;
  transition: transform .5s ease-in-out;
  transform-origin: left;
  transform: scaleX(0);
}

@media (width >= 1024px) {
  .like-icon:hover {
    opacity: .6;
  }
  .button:hover::before {
    transform: scaleX(1);
  }
  .button:focus-visible {
    box-shadow: 2px 2px 0 var(--acent-color);
  }
}

.button__text {
  color: var(--span-color);
  font-family: var(--accent-font-family);
  font-size: 12px;
  mix-blend-mode: difference;
  transition: opacity .3s;
}